* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8C8DC;
    padding: 15px;
    /* height: 70px; */
    margin-bottom: 15px;
}

.navbar-left {
    display: flex;
    align-items: center;
}



.nav-menu {
    list-style-type: none;
    display: flex;
    margin-left: 20px;
}

.nav-menu li {
    position: relative;
    margin-right: 20px;
    font-weight: bold;
}

.nav-menu a {
    color: blue;
    text-decoration: none;
    padding: 10px;
}

.nav-menu a:hover, 
.navbar-right a:hover {
    background-color: white;
    transition: 0.3s;
}

.navbar-right ul {
    list-style-type: none;
    display: flex;
}

.navbar-right li {
    margin-left: 20px;
    font-weight: bold;
}

.navbar-right a {
    color: blue;
    text-decoration: none;
    padding: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
    top: 120%;
}
.dropdown-content a:hover{
background-color: #F8C8DC;
}
.dropdown-content li {
    width: 100%;
    list-style-type: none;
}
.dropdown-content a {
    display: block;
    padding: 10px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content{
    padding-left: 0;
}
.carousel,.carousel-inner{
    height: 80vh;
}
.navbar{
    padding-top: 0;
    padding-bottom: 0;
}
